{{#each cards}}
  <div class="card">
    <img src={{poster_path}} alt="">
    <p>{{original_title}}</p>
    <p>{{release_date}}</p>
    <p><img src="../img/logo.png" alt="">{{title}}</p>
  </div>
{{/each}}