{{#with modal}}
<div class="container">
      <div class="container-cross"></div>
      <div class="container-info">
        <div class="logo-modal">
          <img src="./img/piccircle.png" alt="modal-circle" />
        </div>
        <div class="content-wrapper">
          <div class="modal-text">
              <h2>INFO</h2>
              <p>
                Atlas Weekend is the largest music festival in Ukraine.More than
                200 artists will create a proper music festival atmosphere on 10
                stages
              </p>
            
              <h2>WHEN</h2>
              <p>
                2021-06-09
                <br />
                20:00 (Kyiv/Ukraine)
              </p>
           
              <h2>WHERE</h2>
              <p>
                Kyiv, Ukraine
                <br />
                VDNH
              </p>
            
              <h2>WHO</h2>
              <p>The Black Eyed Peas</p>
           
              <h2>PRICES</h2>
              <div class="price">
                <img src="./img/ticket1.svg" alt="ticket" class="ticket-img" />
                <p>Standart 300-500 UAH</p>
              </div>
              <div class="button-tickets">
                <button>BUY TICKETS</button>
              </div>
              
              <div class="price">
                <img src="./img/ticket1.svg" alt="ticket" class="ticket-img" />
                <p>VIP 1000-1500 UAH</p>
              </div>
              <div class="button-tickets">
                <button>BUY TICKETS</button>
              </div>
          </div>

          <div class="main-img-modal">
            <img src="./img/pic.png" alt="modal-main" />
          </div>
        </div>
        <div class="button-author">
          <button>MORE FROM THIS AUTHOR</button>
        </div>
      </div>
    </div>
{{/with}}
