<header>
  <div class="logo"></div>

  <h1>
    FIND BEST EVENTS
    <br />
    AROUND THE WORLD
  </h1>
  <div class="filters">
    <input id="search" type="text" placeholder="Start searching" />
    <select id="countrySelect" aria-placeholder="Choose country">
      <option value="all">All</option>
      <option value="US">United States</option>
      <option value="UK">United Kingdom</option>
      <option value="DE">Germany</option>
      <option value="FR">France</option>
      <option value="ES">Spain</option>
      <option value="IT">Italy</option>
      <option value="NL">Netherlands</option>
      <option value="PL">Poland</option>
    </select>
  </div>
</header>
