<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo-img">
        <img src="/src/img/logo.png" alt="logo" />
      </div>
      <div class="heading">
        <h1>
          FIND BEST EVENTS
          <br />
          AROUND THE WORLD
        </h1>
      </div>
      <div class="filter">
        <input id="search" type="text" placeholder="Start searching" />
        <select id="country-search" aria-placeholder="Choose country">
          <option value="">All</option>
          <option value="US">United States</option>
          <option value="UK">United Kingdom</option>
          <option value="DE">Germany</option>
          <option value="FR">France</option>
          <option value="ES">Spain</option>
          <option value="PL">Poland</option>
          <option value="IT">Italy</option>
          <option value="NL">Netherlands</option>
        </select>
      </div>
    </header>
  </body>
</html>
