<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <main>
        <div class="allCards">
            <div class="card">
                <img class="imgCard" src="../img/eurovision.png" alt="">
                <h3 class="discriptionCard">Eurovision 2021 finals!</h3>
                <p class="dateCard">2021-05-13</p>
                <img class="badge" src="../img/Vector.png" alt="">
                <p class="locationCard">Palace of Ukraine</p>
            </div>
        </div>
    </main>





</body>
</html>