.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 180px;
    margin: 13px 20px 20px 0;
    text-align: center;
  
    @media (max-width: 768px) {
    }
  
    @media (max-width: 320px) {
      margin: 9px 10px 0 0;
    }
  
    ::after {
      z-index: 2;
      content: '';
      position: absolute;
      top: -13;
      right: -14;
      width: 153px;
      height: 143px;
      border: 1px solid var(--text-main);
      opacity: 0.3;
      border-radius: 30% 0;
  
      @media (max-width: 320px) {
        width: 108px;
        height: 101px;
        top: -9;
        right: -10;
      }
    }
  
    img {
      width: 100%;
      height: 227px;
      border-radius: 30% 0;
      margin-bottom: 5px;
  
      @media (max-width: 320px) {
        height: 161px;
      }
    }
  
    .time,
    .title,
    .place {
      margin-bottom: 5px;
    }
  
    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19.5px;
  
      color: var(--text-main);
    }
  
    .time {
      font-weight: 400;
      font-size: 16px;
      line-height: 19.5px;
      color: var(--text-light);
    }
  
    .place {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: var(--text-light);
    }
  
    @media (max-width: 320px) {
      .title,
      .time {
        font-size: 14px;
        line-height: 17px;
      }
  
      .place {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }