#pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  padding: 5px;
  min-width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.active {
  border-color: rgba(220, 86, 197, 1);
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
  }
}

.active {
  color: #dc56c5;
  font-weight: bold;
  border: 1px solid #dc56c5;
  border-radius: 8px;
  width: 30px;
  height: 30px;
}

.page-number {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.page-number:hover {
  transform: scale(1.1);
}

#pagination-container {
  animation: pageTransition 2s ease 0s 1 normal forwards;
}

@keyframes pageTransition {
  0% {
    transform: scale(1);
    transform-origin: 100% 50%;
  }

  100% {
    transform: scale(0);
    transform-origin: 100% 50%;
  }
}
