*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.imgCard{
    
}

.discriptionCard{
    color: #DC56C5;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.dateCard{
    color: white;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.locationCard{
    color: white;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}