*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: relative;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #dc56c5;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  margin-top: 40px;
}

.heading {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.logo-img {
  position: absolute;
  top: 0;
  left: 0;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

input,
select {
  width: 270px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-size: 16px;
  line-height: 20px;
  background-size: 12px;
  background-position: right 20px center;
  background-repeat: no-repeat;
}

::placeholder {
  color: rgba(200, 200, 200, 1);
}

input {
  background-image: url('../img/search.svg');
}

select {
  background-image: url('../img/polygon.svg');
}

.card{
  padding-top: 5px;
  border: 1px;
  border-color: red;
}
.discriptionCard{
  color: #DC56C5;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding-top: 5px;

}

.dateCard{
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-top: 5px;
}

.locationCard{
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding-left: 3px;
}

/* FOOTER */

.container{
  padding-top: 50px;
  background-color: #1A1A1A;
}

ul{
  display: flex;
}

.post>ul>li{
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
  padding-left: 15px;
}


.copyrait{
  color: #939393;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-top: 50px;
}